* {
    font-family: 'Ubuntu', sans-serif;
}
.header img{
    height: 100%;
    width: 60px;
    margin-left: 10px;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #e0e0e0;  
}
a{
    color: black;
    text-decoration: none;
 }
.header{
    background-color: rosybrown;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center; 

}
.header a{
    margin-right: 3%;
   }
.content img{
    width: 53%;
     height: 40%;
    border:  solid 2px black;
    padding-right: 13%;
    padding-bottom: 4.5%;
    padding-top: 4.5%;
    padding-left: 13%;    
}
#sites img{
    height: 20px;
    width: 22px;
    margin: 10px;
    margin-left: 2px;   
}
#ctext {  
    font-size: 10px;
}
#contact a{
    margin-left: 20px;
}
.foot{
    background-color: rosybrown;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer{
    padding:0.7%;
    bottom: 0;   
}
.content{
    
    margin-left: 4%;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}
#fm{
    float: right;
    margin-right: 10%;
    border:  solid 2px black;
    padding:2.75%;
    padding-top: 1%;
    padding-bottom: 1%;
    
}
#name{
    margin-top: 16px;
    margin-bottom:16px;
}
#date{
    margin-top: 16px;
    margin-bottom: 16px;
    
}
#sub{
    margin-top: 20px;
    margin-bottom: 20px;
}
input{
    margin-left: 90px;
}
h5{
    font-family: cursive;
}
#login {
    margin-right: 2%;
}

#login-form {
    display: flex;
    flex-direction: column;
}
.login-field {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
}
#login-button {
    margin-right: 2%;
}
.checked{
    color: orange;
}
