.header img{
    width: 60px;
    height: 60px;
    margin-left: 0px;
    
}
.header a{
    margin-left: 50px;

}
.content h4{
    margin-top: 0px;
    margin-bottom: 0px;
}
.content img{
    margin-top: 0px;
    width: 150px;
    height: 150px;
    display: inline-flex;
    padding: 0.5px;
}
.footer img{
    width: 22px;
    height: 20px;
}
.footer P{
    margin-top: 0px;
}
.first{
    max-width: 100%;
    max-height: 100%;
}