.header img{
    width: 60px;
    height: 60px;
    margin-left: 0px;
}
.content ul{
    margin-top: 20px;
}
#redison img{
    height: 250px;
    width: 250px;
}
.Lalit img{
    height: 250px;
    width: 250px;
}
.taj  img{
    height: 250px;
    width: 250px;
}

.footer img{
    width: 22px;
    height: 20px;
}
.footer P{
    margin-top: 0px;
}
.first{
    max-width: 100%;
    max-height: 100%;
}