
.header img{
    width: 200px;
    height: 150px;
    margin-left: 0px;
}
.content img{
    width: 60%;
    height: 60%;
}
.footer img{
    width: 22px;
    height: 20px;
}
.footer P{
    margin-top: 0px;
}